@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(235, 201, 11);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

body {
  position: relative;
  overflow-x: hidden;
}

#title {
  margin-left: 5%;
  padding: 1rem 0.5rem;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

nav {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
}
nav > h1 > a {
  color: #000;
  text-decoration: none;
  font-size: 1.8rem;
  font-family: "Merienda", cursive;
}
nav > form {
  width: 35vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav > form > .wrapper {
  width: 100%;
  height: 2.5rem;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #eee;
}
nav > form > .wrapper > input {
  width: 85%;
  height: 100%;
  background-color: #fafbf8;
  outline: none;
  border: none;
  padding: 0 1rem;
}
nav > form > .wrapper > button {
  width: 15%;
  height: 100%;
  border: none;
  cursor: pointer;
  background-color: #fafbf8;
}
nav > form > .wrapper > button > span {
  color: rgb(188, 188, 71);
}
nav > .mainContainer {
  display: flex;
  gap: 1.4rem;
}
nav > .mainContainer > .bascketContainer {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fef5da;
  cursor: pointer;
}
nav > .mainContainer > .bascketContainer > span {
  color: rgb(184, 184, 88);
}
nav > .mainContainer > .bascketContainer > small {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 1rem;
  font-weight: 700;
  background-color: #0bb063;
  padding: 0 5px;
  color: azure;
  border-radius: 10px;
}
nav > .mainContainer > .profileContainer {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 10px;
  cursor: pointer;
}
nav > .mainContainer > .profileContainer > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
nav .hiddenLy {
  display: none;
}
nav .OverLay {
  position: absolute;
  width: 100%;
  height: 86vh;
  right: 0;
  top: 6rem;
  background-color: rgba(0, 0, 0, 0.1254901961);
  filter: blur(5px);
}
nav .CheckOutContainer {
  position: absolute;
  right: -100%;
  top: 5.5rem;
  z-index: 2;
  height: 86vh;
  width: 30vw;
  background-color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
nav .CheckOutContainer .left_bnd {
  position: absolute;
  width: 5px;
  height: 8rem;
  transform: translateY(-50%);
  border-radius: 10px;
  background-color: rgba(85, 85, 85, 0.6156862745);
  left: 7px;
  top: 50%;
}
nav .CheckOutContainer .chckTitle {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
nav .CheckOutContainer .chckTitle p {
  font-size: 1.5rem;
  font-weight: bold;
}
nav .CheckOutContainer .chckTitle span {
  font-size: 2rem;
  color: rgba(245, 175, 25, 0.8588235294);
}
nav .CheckOutContainer .OrdersWrapper::-webkit-scrollbar {
  display: none;
}
nav .CheckOutContainer .OrdersWrapper {
  width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
nav .CheckOutContainer .OrdersWrapper .OrderCell {
  width: 95%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem auto;
  padding: 0 1rem;
  font-family: "Alkatra", cursive;
  font-weight: 500;
}
nav .CheckOutContainer .OrdersWrapper .OrderCell > img {
  width: 6rem;
  height: 5rem;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}
nav .CheckOutContainer .del_details {
  width: 95%;
  height: 6rem;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .CheckOutContainer .del_details button {
  width: 20rem;
  height: 3.5rem;
  background-color: #0bc870;
  border-radius: 5px;
  font-family: "Alkatra", cursive;
  color: azure;
  transition: 0.3s ease-in-out;
}
nav .CheckOutContainer .del_details button:hover {
  background-color: #f12711;
}

.categories {
  width: 90%;
  min-height: 6rem;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.categories > a {
  text-decoration: none;
}
.categories .cat_wrapper {
  width: 4.8rem;
  height: 5.3rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
  box-shadow: -3px 1px 3px 1px rgba(0, 0, 0, 0.042);
  border-right: 1px solid rgba(221, 221, 221, 0.3764705882);
  border-bottom: 1px solid rgba(221, 221, 221, 0.3764705882);
  cursor: pointer;
  transition: 0.3s ease-in;
}
.categories .cat_wrapper:hover {
  transform: translateY(-5px);
}
.categories .cat_wrapper > img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.categories .cat_wrapper > p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.9rem;
  color: #555;
  font-weight: bold;
}

#PopularDishes,
#menu {
  width: 90%;
  min-height: 60vh;
  margin: 0.5rem auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0;
  flex-wrap: wrap;
}
#PopularDishes > article,
#menu > article {
  width: 18rem;
  height: 18rem;
  border-radius: 10px;
  padding: 0 0 1rem 0;
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
  transition: 0.3s ease-in;
}
#PopularDishes > article:hover,
#menu > article:hover {
  transform: translateY(-5px);
}
#PopularDishes > article > a > img,
#menu > article > a > img {
  width: 100%;
  height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  margin-bottom: 0.5rem;
}
#PopularDishes > article > a,
#menu > article > a {
  color: #3c3c3c;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
}
#PopularDishes > article > div,
#menu > article > div {
  display: flex;
  padding: 0.5rem 0;
  color: #555;
}
#PopularDishes > article > div > img,
#menu > article > div > img {
  width: 1.3rem;
  height: 1.3rem;
  margin: 0 0 0 0.5rem;
}
#PopularDishes > article > div > p,
#menu > article > div > p {
  font-weight: bold;
  padding: 0 0.3rem;
}
#PopularDishes > article > div > span,
#menu > article > div > span {
  margin: 0 1rem;
}

.faq {
  width: 100%;
  height: 80vh;
  background-image: url("https://c.ndtvimg.com/2021-02/bj6olj1o_pizza_625x300_20_February_21.jpg?im=FeatureCrop,algorithm=cascade,width=1200,height=675");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1rem 0;
  gap: 2rem;
  font-family: "Source Sans Pro", sans-serif;
  padding: 1rem;
}
.faq > .wrapper {
  width: 18rem;
  height: 18rem;
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.faq > .wrapper:hover {
  transform: translateY(-5px);
}
.faq > .wrapper > i {
  font-size: 3rem;
  color: red;
}
.faq > .wrapper > span {
  font-size: 1.2rem;
  font-weight: bold;
}
.faq > .wrapper > p {
  font-size: 0.9rem;
}

.next_cursor {
  width: 95%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  padding: 5rem 0;
}
.next_cursor ul {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  list-style: none;
}
.next_cursor ul > li {
  cursor: pointer;
  color: #555;
}
.next_cursor ul .active {
  background-color: rgba(245, 175, 25, 0.8588235294);
  padding: 2px 10px;
  border-radius: 50%;
  color: #000;
  font-weight: bold;
}

.subscription {
  width: 100%;
  height: 90vh;
  font-family: "Source Sans Pro", sans-serif;
  background: #f12711; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(245, 175, 25, 0.8588235294), #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  align-items: center;
  padding: 1rem 5rem;
}
.subscription > h1 {
  font-size: 1.8rem;
  color: whitesmoke;
}
.subscription .wrapper {
  width: 30rem;
  height: 32rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  overflow: hidden;
  text-align: center;
}
.subscription .wrapper > img {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}
.subscription .wrapper p {
  font-size: 0.9rem;
  color: #353535;
}
.subscription .wrapper h3 {
  padding: 0.5rem;
}
.subscription .wrapper input {
  width: 80%;
  height: 2.5rem;
  border-radius: 10px;
  padding: 1rem;
  border: none;
  outline: none;
}
.subscription .wrapper button {
  display: block;
  margin: 0.5rem auto;
  width: 80%;
  height: 2.5rem;
  border-radius: 10px;
  border: none;
  background-color: #f12711;
  color: azure;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */